{% extends "layouts/default.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row">
	{% for post in posts %}
	<div class="col-lg-12 m-b30">
		<div class="blog-card blog-md">
			<div class="blog-card-media dlab-post-media">
				<img src="{% static post.image_path %}" alt=""/>
			</div>
			<div class="blog-card-info">
				<div class="dlab-post-meta">
					<ul>
						<li class="post-tag"><a href="post-standart.html">{{post.category.title}}</a></li>
						<li class="post-date">
							{{post.post_date}}
						</li>
					</ul>
				</div>
				<h2 class="title"><a href="/blog/post/{{post.id}}">{{post.title}}</a></h2>
				<p>{{post.content|truncatewords:35}}</p>
				<ul class="add-info">
					<li><a href="/blog/post/{{post.id}}" class="btn radius-no primary">{% trans "Read More" %}</a></li>
					<li><a href="/blog/post/{{post.id}}"><i class="la la-share-alt-square"></i> {% trans "views" %}: <span>{{ post.view_count }}</span></a></li>
					<li><a href="/blog/post/{{post.id}}#scroll_link"><i class="la la-comment"></i> {% trans "comments" %}: <span>{{ post.countComment }}</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Pagination -->
<div class="pagination-bx clearfix text-center">
	<ul class="pagination">
		<li class="active"><a href="javascript:void(0);">1</a></li>
		<li><a href="javascript:void(0);">2</a></li>
		<li><a href="javascript:void(0);">3</a></li>
	</ul>
</div>
<!-- Pagination END -->
					
{% endblock %}					
